@page "/"
@using MeetMastersAM.Shared.Model;
@inject HttpClient Client

<PageTitle>Index</PageTitle>

<div class="container-title my-5">

    <div class="row">       

        <div class="col-12 my-5">
            <h1 class="title">WEB HUB</h1>
            <h3>Il tuo portale verso il futuro</h3>
        </div>
        
    </div>
    
</div>

<section class="mt-5 d-flex">

    <div class="row justify-content-around w-100">
        <div class="col-4">
            <img class="coders1 p-2" src="image/coders_1.png" />
        </div>
        <div class="col-4">
            <img class="coders1 p-2" src="image/coders_2.png" />
        </div>
        <div class="col-4">
            <img class="coders1 p-2" src="image/coders_1.png" />
        </div>
    </div>

</section>


@code {
    private List<Benefits>? benefits = new();

    protected override async Task OnInitializedAsync()
    {
        benefits = await Client.GetFromJsonAsync<List<Benefits>>("api/Benefits/");
    }


}