@using MeetMastersAM.Shared.Model

<h5>Nuovo Benefits <i class="fa-solid fa-spa"></i></h5>

<EditForm Model="@benefit"
          OnValidSubmit="OnSalva" class="col-6">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label for="nome">Nome:</label>
        <InputText id="nome" @bind-Value="benefit!.DescrizioneBenefit" class="form-control" />
    </div>


    <button type="submit" class="btn btn-success">Salva <i class="fa-solid fa-circle-check"></i></button>

</EditForm>


@code {

    [Parameter]
    public Benefits? benefit { get; set; }

    [Parameter]
    public EventCallback OnSalva { get; set; }

}

