@page "/aggiungi"
@using MeetMastersAM.Shared.Model
@using MudBlazor



<EditForm Model="@dipendenti"
          OnValidSubmit="OnSalva" class="col-6">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label for="nome">Nome:</label>
        <InputText id="nome" @bind-Value="dipendenti!.NomeDipendente" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="cognome">Cognome:</label>
        <InputText id="cognome" @bind-Value="dipendenti!.CognomeDipendente" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="indirizzo">Indirizzo:</label>
        <InputText id="indirizzo" @bind-Value="dipendenti!.IndirizzoDipendente" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="recapito">Recapito:</label>
        <InputText typeof="phone" id="recapito" @bind-Value="dipendenti!.RecapitoDipendente" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="datanascita">Data di Nascita:</label>
        <InputDate id="datanascita" @bind-Value="dipendenti!.DataNascitaDipendente" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="genere">Genere:</label>
        <InputSelect id="genere" @bind-Value="dipendenti!.GenereDipendente" class="form-control">
            <option>Seleziona genere...</option>
            <option value="Uomo">Uomo</option>
            <option value="Donna">Donna</option>
            <option value="Altro">Altro</option>
        </InputSelect>
    </div>

    <div class="form-group mb-3">
        <label for="sede">Sede:</label>
        <InputSelect id="sede" @bind-Value="dipendenti!.SedeId" class="form-control">
            <option>Seleziona Sede...</option>

            @foreach (var sede in Sedi!)
            {
                <option value="@sede!.SedeId">@sede!.DescrizioneSede</option>
            }
        </InputSelect>
    </div>

    <div class="form-group mb-3">
        <label for="linkedin">Linkedin:</label>
        <InputText id="linkedin" @bind-Value="dipendenti!.ProfiloLinkedin" class="form-control" />
        <label for="instagram">Instagram:</label>
        <InputText id="instagram" @bind-Value="dipendenti!.ProfiloInstagram" class="form-control" />
        <label for="github">Github:</label>
        <InputText id="github" @bind-Value="dipendenti!.ProfiloGithub" class="form-control" />
    </div>

    @* <div class="form-group mb-3">
        <label for="mansioni">Mansione:</label>
        <MudSelect T="Dipendenti_Mansioni" Label="Mansioni" MultiSelection="true" @bind-Value="dipendenti!.Mansioni_Dipendenti">
            @foreach (var m in _Mansioni!)
            {
                <MudSelectItem T="int" Value="@m.MansioneId">@m.NomeMansione</MudSelectItem>
            }
        </MudSelect>
    </div> *@


    <div class="form-group mb-3">
        <label for="referente">Sei un referente?:  <InputCheckbox id="referente" @bind-Value="dipendenti!.IsReferent" /></label>
    </div>


    <button type="submit" class="btn btn-primary">Salva</button>
    <button type="button" class="btn btn-warning" @onclick="OnAnnulla">Annulla</button>
</EditForm>

@code {
    [Parameter]
    public Dipendenti? dipendenti { get; set; }

    [Parameter]
    public int dipendenteId { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<Sedi>? Sedi { get; set; }

    [Parameter]
    public List<Mansioni>? _Mansioni { get; set; }

    [Parameter]
    public EventCallback OnSalva { get; set; }

    [Parameter]
    public EventCallback OnAnnulla { get; set; }

    private string value { get; set; } = "Nothing selected";

    private IEnumerable<string> options { get; set; } = new HashSet<string>();


}
