<footer class="bg-navy text-light mt-5 shadow p-2">
    <div class="container">
        <div class="row">
            <div class="col-3 left-col">
                <h2>WEB HUB</h2>
                <div class="social mt-2">
                    <ul class="d-flex justify-content-around">
                        <li><i class="fa-brands fa-youtube"></i></li>
                        <li><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="link-footer">
                    <ul class="d-flex justify-content-around">
                        <li>About</li>
                        <li>Servizi</li>
                        <li>News</li>
                        <li>Lavora con noi</li>
                        <li>Contatti</li>
                    </ul>
                </div>
                <div class="form-footer">
                    <p class="firts-p-footer">Rimani sempre aggiornato con la newsletter</p>
                    <form class="">
                        <div class="d-flex">
                            <input type="text" placeholder="Nome" />
                            <input type="text" placeholder="Email" />
                            <button class="btn-form-footer" type="submit">Iscriviti</button>
                        </div>
                        <p>Consento al trattamento dei dati*</p>
                        <div class="d-flex">
                            <input class="checkbox" type="checkbox" />
                            <p>Acconsento al trattamento dei miei dati personali secondo le modalità e nei limiti riportati alla precedente <a>privacy policy.</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <p>Privacy Policy Cookie Policy</p>
    </div>
</footer>

@code {

}
